.form .tbAllProgramName {
	border-style:solid;
	border-width: 2px;
	border-color: #C0C0C0;
	font-family:"Microsoft Sans Serif";
	font-size:x-large;
	width:1200px;
    text-align:Center;
    /* background-color:#3366FF; */
    background-color : #a8e0ff; 
}

.form .tbSmallProgramName {
	border-style:solid;
	border-width: 2px;
	border-color: #C0C0C0;
	font-family:"Microsoft Sans Serif";
	font-size:x-large;
	width:900px;
    text-align:Center;
    /* background-color:#3366FF; */
    background-color : #a8e0ff; 
}


.form  .th-header{font-family:sans-serif, Arial;
           font-size:16px;
           font-weight:bold;
           padding:5px 5px;
           border-style:solid;
           border-width:1px;
           overflow:hidden;
           border-color:#999;
           color:#fff;
           background-color:#2b7dd9;
           text-align:center}
           
  .form .tb-size-Employee {font-family:sans-serif, Arial;
         width:600px;     
  }
  
    .form .tb-size-Detail {font-family:sans-serif, Arial;
         width:507px;     
  }
    
.form .td-lable{font-family:Tahoma, sans-serif, Arial;
                 font-size:12px;
                 font-weight:bold;
                 padding:3px 3px;
                 border-style:solid;
                 border-width:1px;
                 overflow:hidden;
                 border-color:#999;
                 color:#444;
                 background-color:#9ec1e9;
                 width:100px ;
                 text-align:Right;
                 }
                 
.form .td-lablevisible{font-family:Tahoma, sans-serif, Arial;
                 font-size:12px;
                 font-weight:bold;
                 padding:3px 3px;
                 border-style:solid;
                 border-width:1px;
                 overflow:hidden;
                 border-color:#999;
                 color:#444;
                 background-color:#9ec1e9;
                 width:100px ;
                 text-align:Right;
                 visibility:hidden;
                 }
                 
.popupLogin
{
	width: 300px;
	height: 250px;
}

.popup_Container {
	background-color:#ffffff;
	border:2px solid #000000;
	padding: 0px 0px 0px 0px;
}

.popup_Titlebar {
	background: url(Images/titlebar_bg_blue.jpg);
	height: 29px;
}


.popup_Titlebar_Confirm {
	background: url(Images/titlebar_bg_orange.jpg);
	height: 29px;
}

.popup_Body
{
	padding:15px 15px 15px 15px;
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#000000;
	line-height:15pt;
	clear:both;
	padding:20px;
}

.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}


.TitlebarLeft_Blue
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#330099;
    width: 270px;
    height: 20px;
}

.TitlebarRight 
{
	background:url(Images/cross_icon_normal_red.png);
	background-position:right;
	background-repeat:no-repeat;
	height:15px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}

.TitlebarRight_Blue
{
	background:url(Images/cross_icon_normal_blu.png);
	background-position:right;
	background-repeat:no-repeat;
	height:20px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}

.popup_Buttons
{
	margin:10px;
}


                 
.form .td-lableblank{font-family:Tahoma, sans-serif, Arial;
                 font-size:12px;
                 font-weight:bold;
                 padding:3px 3px;
                 border-style:none;
                 border-width:1px;
                 overflow:hidden;
                 color:#444;
                 width:95px ;
                 text-align:Right;
                 }                 
                 
.form .td-lable-total-employee{font-family:Tahoma, sans-serif, Arial;
                 font-size:12px;
                 font-weight:bold;
                 padding:3px 3px;
                 border-style:solid;
                 border-width:1px;
                 overflow:hidden;
                 border-color:#999;
                 color:#444;
                 background-color:#9ec1e9;
                 width:170px ;
                 text-align:Right;
                 }
                 
 .form .td-lable-TableHead{font-family:Tahoma, sans-serif, Arial;
                 font-size:12px;
                 font-weight:bold;
                 padding:3px 3px;
                 border-style:solid;
                 border-width:1px;
                 overflow:hidden;
                 border-color:#999;
                 color:#444;
                 background-color:#9ec1e9;
                 width:360px ;
                 text-align:Center;
                 }
                 
 .form .td-lable-TableHeadDate{font-family:Tahoma, sans-serif, Arial;
                 font-size:12px;
                 font-weight:bold;
                 padding:3px 3px;
                 border-style:solid;
                 border-width:1px;
                 overflow:hidden;
                 border-color:#999;
                 color:#444;
                 background-color:#9ec1e9;
                 width:120px ;
                 text-align:Center;
                 }
                 
 .form .td-lable-LeaveAB{font-family:Tahoma, sans-serif, Arial;
                 font-size:12px;
                 font-weight:bold;
                 padding:3px 3px;
                 border-style:solid;
                 border-width:1px;
                 overflow:hidden;
                 border-color:#999;
                 color:#444;
                 background-color:Yellow;
                 width:120px ;
                 text-align:Center;
                 }
                   
 .form .td-lable-LeaveE-{font-family:Tahoma, sans-serif, Arial;
                 font-size:12px;
                 font-weight:bold;
                 padding:3px 3px;
                 border-style:solid;
                 border-width:1px;
                 overflow:hidden;
                 border-color:#999;
                 color:#444;
                 background-color:#FF66FF;
                 width:120px ;
                 text-align:Center;
                 }
 .form .td-lable-LeaveAL{font-family:Tahoma, sans-serif, Arial;
                 font-size:12px;
                 font-weight:bold;
                 padding:3px 3px;
                 border-style:solid;
                 border-width:1px;
                 overflow:hidden;
                 border-color:#999;
                 color:#444;
                 background-color:green;
                 width:120px ;
                 text-align:Center;
                 }
                             
.form .td-input {font-family:Tahoma, sans-serif, Arial;
            font-size:12px;
            padding:3px 3px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#999;
            color:#993300;
            background-color:#ffffff;
            text-align:Left;
     } 
     
 .form .td-input-size {font-family:Tahoma, sans-serif, Arial;
           width: 550px;
           border-style:solid;
           border-width:1px;
           overflow:hidden;
           border-color:#999;
           color:#444;
           background-color:#ffffff;
           text-align:Left
     } 
      .form .td-input-size2 {font-family:Tahoma, sans-serif, Arial;
           width: 323px;
           border-style:solid;
           border-width:1px;
           overflow:hidden;
           border-color:#999;
           color:#444;
           background-color:#ffffff;
           text-align:Left
     } 
     .form .td-input-size2visible {font-family:Tahoma, sans-serif, Arial;
           width: 323px;
           border-style:solid;
           border-width:1px;
           overflow:hidden;
           border-color:#999;
           color:#444;
           background-color:#ffffff;
           visibility:hidden;
           text-align:Left
     } 
           .form .td-input-size3{font-family:Tahoma, sans-serif, Arial;
           width: 272px;
           border-style:solid;
           border-width:1px;
           overflow:hidden;
           border-color:#999;
           color:#444;
           background-color:#ffffff;
           text-align:Left
     } 
     
          
 .form .td-inputHeader {font-family:Tahoma, sans-serif, Arial;
            font-size:16px;
            font-weight:bold;
            padding:3px 3px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#999;
            color:#ffffff;
            text-align:Center;
            background-color:#3366FF;
            width:600px;
     }   
      .form .td-inputHeaderOT {font-family:Tahoma, sans-serif, Arial;
            font-size:16px;
            font-weight:bold;
            padding:3px 3px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#999;
            color:#ffffff;
            text-align:Center;
            background-color:#3366FF;
            width:100%;
     }   
      .form .td-inputHeaderOT2 {font-family:Tahoma, sans-serif, Arial;
            font-size:16px;
            font-weight:bold;
            padding:3px 3px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#999;
            color:#ffffff;
            text-align:Center;
            background-color:#3366FF;
            width:35px;
     }   
     
 .form .td-inputHeaderATDM {font-family:Tahoma, sans-serif, Arial;
            font-size:16px;
            font-weight:bold;
            padding:3px 3px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#999;
            color:#ffffff;
            text-align:Center;
            /* background-color:#3366FF; */
            background-color : #a8e0ff; 
            width:1100px;
     } 
        
       
 .form .td-inputHeaderBLANK {font-family:Tahoma, sans-serif, Arial;
            font-size:14px;
            font-weight:bold;
            padding:3px 3px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#ffffff;
            color:#ffffff;
            background-color : #ffffff; 
            width:1800px;
            text-align:right;
     }      
     
     
 .form .td-inputTitle {font-family:Tahoma, sans-serif, Arial;
            font-size:12px;
            font-weight:bold;
            padding:3px 3px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#999;
            color:#ffffff;
            text-align:Center;
            background-color:#3366FF;
            width:600px;
     }
     
      .form .td-GridviewTitle {font-family:Tahoma, sans-serif, Arial;
            font-size:12px;
            font-weight:bold;
            padding:3px 3px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#999;
            color:#000000;
            text-align:Center;
            background-color:#6699ff;
            width:600px;
         
     }   
     
     .form .GridviewRowStyle {font-family:Tahoma, sans-serif, Arial;
            font-size:12px;
            color:Black;
            background-color:#EFF3FB;
         
     }   
     
    .form .GridviewRowStyle_BigFont {font-family:Tahoma, sans-serif, Arial;
            font-size:14px;
            color:Black;
            background-color:#EFF3FB;
         
     }      
     
     .form .GridviewFooterStyle {font-family:Tahoma, san-serif, Arial;
            font-size:12px;
            font-weight:bold;
            color:#333333;
            background-color:#507CD1;        
     }
     
     .form .SelectedRowStyle {font-family:Tahoma, Sans-Serif,Arial;
           color:White;
           background-color:#D1DDF1;
           text-align:Center;
                                
     }
     
      .form .GridviewPagerStyle {font-family:Tahoma, Sans-Serif,Arial;
           color:White;
           background-color:#2461BF;
           text-align:Center;
                                
     }
     
    .form .td-GridviewDetail{font-family:Tahoma, sans-serif, Arial;
            font-size:12px;
            padding:3px 3px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#3366CC;
            color:#000000;
            text-align:Center;
            background-color:#ffffff;
            width:600px;
     }      

    .form .td-GridviewDetail-BigTable{font-family:Tahoma, sans-serif, Arial;
            padding:2px 2px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            border-color:#3366CC;
            color:#000000;
            text-align:Center;
            background-color:#ffffff;
            width:750px;
     }        
     
     .form .Button{font-family:Tahoma, sans-serif, Arial;
            font-size:12px;
            font-weight:bold;
            color:White;
            text-align:Center;
            background-color:#CC3300;
            Width: 100px;
     }  
     
     .form .ButtonConfirm{font-family:Tahoma, sans-serif, Arial;
            font-size:12px;
            font-weight:bold;
            /* color:White; */
            text-align:Center;
            /* background-color:#33cc33; */
            background-color:#ffcc00; 
            Width: 100px;
     }      
     
       .form .ButtonView{font-family:Tahoma, sans-serif, Arial;
            font-size:12px;
            font-weight:bold;
            text-align:Center;
            Width: 70px; 
            height:26px;
     }    
     
   .form .tdFilterInputSupCombobox {
	width: 230px;
	border-style: none;
	border-width: 1px;
	border-color: #C0C0C0; 
	/* border-color: #66CDAA; */
    }

   .form .tdFilterInputCombobox {
	width: 270px;
	border-style: none;
	border-width: 1px;
	border-color: #C0C0C0; 
	/* border-color: #66CDAA; */
    }   
    
    .form .td-GridviewEmployeeCol{font-family:Tahoma, sans-serif, Arial;
        text-align:Center;
        width:120px;
     }   
     
     .form .td-GridviewDateOnlyCol{font-family:Tahoma, sans-serif, Arial;
        text-align:Center;
        width:120px;
     }        
     
     .form .td-GridviewDateTimeCol{font-family:Tahoma, sans-serif, Arial;
        text-align:Center;
        width:170px;
     }  
     
     .form .td-GridviewReasonCol{font-family:Tahoma, sans-serif, Arial;
        text-align:Center;
        width:170px;
     }             
                
.form-labelbg{background-color:#26ade4
                      }
                      
.form .td-space50{width:50px ;
                  text-align:Center;
                 }
                 
.form .td-space30{width:30px ;
                  text-align:Center;
                 }                 

                      
 /* For show Colour of Leave */                      
.tableShowColor {
	    border-style: inherit;
	    border-width: 2px;
	    border-color: #EBEBEB;
	    font-family:"Microsoft Sans Serif";
	    font-size:small ;
	    font-weight:bold;   
	    width:700px;
	    height:30px 
        }


   
.td_late
{
    border-style: solid;
	border-width: 1px;
	border-color: #3399CC;
	width:170px;
	background-color:#ffff33; 
	text-align:center ;
    }

.td_absent
{
    border-style: solid;
	border-width: 1px; 
	border-color: #9ec1e9;   
	width:170px;
	background-color:#cc6600; 
	text-align:center ;
    }
    
.td_unapproved_leave
{
    border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	width:170px;
	/* background-color:#ff00ff; */
	background-color:#ff99ff;
	text-align:center ;
    }
    
.td_approved_leave
{
    border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	width:170px;
	background-color:#00ff33; 
	text-align:center ;
    }  
    
.td_label_leave {
    border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	text-align:center ;
    }          
    
    
 /* For show Colour of Leave */                      
.tableShowColorMini {
	    border-style: inherit;
	    border-width: 2px;
	    border-color: #EBEBEB;
	    font-family:"Microsoft Sans Serif";
	    font-size:small ;
	    width:210px;
	    
        }


   
.td_lateMini
{
    border: 1px solid #3399CC;
	background-color:#ffff33; 
		text-align:center;
    }

.td_absentMini
{
    border-style: solid;
	border-width: 1px; 
	border-color: #9ec1e9;   
	width:50px;
	background-color:#cc6600; 
	text-align:center ;
    }
    
.td_unapproved_leaveMini
{
    border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	width:50px;
    /* background-color:#ff00ff; */
	background-color:#ff99ff;
	text-align:center ;
    }
    
.td_approved_leaveMini
{
    border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	width:50px;
	background-color:#00ff33; 
	text-align:center ;
    }  
    
.td_label_leaveMini {
    border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	text-align:center ;
    }              
                      
.roundtextbox {background:#fff;
          font-family:Verdana,Arial, Helvetica, sans-serif;
          font-size:12pt;
          margin-left:auto;
          margin-right:auto;
          margin-top:1px;
          margin-bottom:1px;
          padding:3px;
          border-top:1px solid #CCCCCC;
          border-left:1px solid #CCCCCC;
          border-right:1px solid #999999;
          border-bottom:1px solid #999999;
          -moz-border-radius: 8px;
          -webkit-border-radius: 8px;
         }     
         
         .Container
{
	margin:auto;
	min-height:400px;
	background:#ffffff;
	max-width:400px;
	min-width:400px;
	border:solid 1px #d4d4d4;
	padding:0 20px 20px 20px;
}

.ToolBar
{
	border:solid 1px #d4d4d4;
	padding:10px;
	margin-bottom:20px;
}


.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}
.TitlebarRight 
{
	background:url(Images/cross_icon_normal_red.png);
	background-position:right;
	background-repeat:no-repeat;
	height:15px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}

.body
{
	background-color:#EBF4FE;
}
.DivMain 
{  
	text-align:center;
    margin: 0px auto;  
	width: 1000px;
    font:normal normal normal 100% verdana;
	font-size: 13px;
} 
.DivMain2 
{  
	text-align:center;
    margin: 0px auto;  
	width: 1100px;
    font:normal normal normal 100% verdana;
	font-size: 13px;
}  
.MainTable
{
	width: 100%;

}
.SubTable
{
	width: 100%;
}

.MainHeader
{
	font:normal normal bold 100% verdana;
	font-size: 18px;
	height:40px;
	vertical-align: bottom;
}
.SubHeader
{
	font:normal normal bold 100% verdana;
	font-size: 15px;
	color: Orange;
	height:40px;
}
.ListHeader
{
	font: normal normal bold 100% verdana;
	font-size: 14px;
	color: #0066FF;
	height: 40px;
	text-align: left;
	vertical-align: middle;
}
.HighLightCol
{
	font:normal normal bold 100% verdana;
	text-align:left;
	background-color:#9ccfff;	
	width: 13.93%;
}
.NormalCol
{
	text-align:left;
	width: 16%;
}
.PictureCol
{
	text-align:center;
	width: 10.21%;
}
.LeftControl
{
	text-align:left;
}
.RightControl
{
	text-align:Right;
}
.PictureProfile
{
	text-align:center;
	width: 100px;
	height: 100px;
	
}
.TextboxDesign
{
	width: 90%;	
}
.ListBoxSecurityUser
{
	width: 480px;
	height: 200px;	
}
.ListBoxSecurityGroup
{
	width: 480px;
	height: 200px;	
}
.PanelSecurityRoleDesign
{
	border: 1px solid #7F9DB9;
	width: 480px;
	height: 450px;
	background-color: #FFFFFF;
}
.PanelEarningGroupDesign
{
	border: 1px solid #7F9DB9;
	width: 1100px;
	height: 350px;
	background-color: #FFFFFF;
}
.PanelEarningTypeDesign
{
	border: 1px solid #7F9DB9;
	width: 1100px;
	height: 350px;
	background-color: #FFFFFF;
}
.MesageAlert
{
	height: 40px;
}
.TreeviewDesign
{
	width: 300px;
	margin-top: 8px;
	margin-left: 10px;
	text-align:left;
}
.PanelEmployeeEarning
{
	border-style: solid;
	border-width: 1px;
	border-color: #7F9DB9 #7F9DB9 #CCCCCC #7F9DB9;
	width: 465px;
	height: 407px;
	background-color: #FFFFFF;
	text-align:left;
}
.PanelEditDelete
{
	border-width: 0px 1px 1px 1px;
	border-color: #7F9DB9;
	width: 465px;
	height: 35px;
	background-color: #FFFFFF;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.GvOvertime
{
	width: 100%;
}	
.HomePageTable-TD-icon
{
}
.HomePageTable-TD-List
{
		width: 320px;
}
.PanelOT
{
	border: 1px solid #7F9DB9;
	width: 100%;
	height: 350px;
	background-color: #FFFFFF;
}
.PanelCashOT
{
	border: 1px solid #7F9DB9;
	width: 100%;
	height: 45px;
	background-color: #FFFFFF;
}

/* modified by tc14091 */


.td_EmpConfirm_OTmini td
{

	background-color: #B5DCE3;
}  
.td_SupConfirm_OTmini td
{

	background-color: #FFFF99;
}  
.td_MgrApproved_OTmini td
{

	background-color: #CC66FF;

}  
.td_HrApproved_OTmini td
{

	background-color: #00FFCC;

}  
.td_FinalApproved_OTmini td
{

	background-color:#00ff33; 

    } 
.td_UnApproved_OTmini td
{

	background-color: #FFCCCC;

} 
.td_EmpConfirm_OTmini
{
	border: 1px solid #3399CC;
	width: 50px;
	background-color: #B5DCE3;
	text-align: center;
}  
.td_SupConfirm_OTmini
{
	border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	width: 50px;
	background-color: #FFFF99;
	text-align: center;
}  
.td_MgrApproved_OTmini
{
	border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	width: 50px;
	background-color: #CC66FF;
	text-align: center;
}  
.td_HrApproved_OTmini
{
	border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	width: 50px;
	background-color: #00FFCC;
	text-align: center;
}  
.td_FinalApproved_OTmini
{
    border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	width:50px;
	background-color:#00ff33; 
	text-align:center ;
    } 
.td_UnApproved_OTmini
{
	border-style: solid;
	border-width: 1px;
	border-color: #9ec1e9;
	width: 50px;
	background-color: #FFCCCC;
	text-align: center;
} 

 .hiddencol
      {
        display: none;
      }