.crumbstyle {  font-size: 11px; font-style: normal; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #000066}
.crumbstyle_link {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bolder; color: #FF0000}
.crumbstyle_delimeter {  font-size: 10px; font-weight: bold; color: #000099}
